
@{
    ViewData["Title"] = "Welcome";
}

<h1>Welcome</h1>

<p>Welcome to the ASP.NET Core MVC application!</p>

<ul>
@for(int i=0; i<(int)ViewData["age"]!; i++)
{
    <li>Age: @ViewData["age"]</li>

    <li>Name: @ViewData["message"]</li>
}
</ul>

